.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
bin/
/db
.eclipse
/lib/
/logs/
/modules
target/
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea/
ideatarget
.target
